#calculator {
    width: 100px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#display { grid-area: 1 / 1 / 2 / 5; }

#add { grid-area: 3 / 4 / 5 / 5; }

#equals { grid-area: 5 / 4 / 7 / 5; }

#zero { grid-column: 1 / 3; }